@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&display=swap');
.container{
    width: 1200px;
}
p{
    font-size: 20px;
}
a{
    font-size: 20px;
    font-family: 'Lato';
    color: #F87932;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
}
h1{
    font-size: 80px;
    font-family: 'Merriweather';
}
h2{
    font-size: 60px;
    font-family: 'Merriweather';
    font-weight: 900;
}
h3{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
}
h4{
    font-family: 'Lato';
    font-size: 24px;
    color: #666666;
    letter-spacing: 4px;
}
h5{
    color: #969696;
    font-family: 'Sedgwick Ave';
    font-size: 28px;
}
h6{
    font-size: 16px;
    font-family: 'Lato';
}
.block{
    background-color: #FFFFFFD9;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 5px 10px 0 #444444;
    text-align: center;
    /* width: 150px; */
    padding: 15px;
    transition: .5s;
}
.block-1{
    height: 62px;
}
.block-1:hover{
    height: 100px;
    box-shadow: 0 5px 10px 0 #FFFFFFD9;
    padding-top: 50px;
    transition: .3s;
}
.block-2{
    height: 102px;
}
.collapse{
    color: #F87932;
    margin-top: -100px;
    display: none;
}
.navbar{
    margin-top: -100px;
    display: none;
}
.header{
    background: url(./img/BG.png);
    height: 1120px;
    background-size: cover;
}
.welcome h1{
    color: #39BFA7;
}
.welcome h1 .orange{
    color: #F87932;
}
.welcome .rombs{
    position: absolute;
    top: 0px;
}
.btn-type1{
    padding: 16px 24px;
    background-color: #F87932;
    color: #FFFFFF;
    margin-top: 50px;
    letter-spacing: 4px;
    transition: .5s;
}
.btn-type1:hover{
   background-color: #eec0a5;
    margin-left: 20px ;
    box-shadow: 0 0 20px #666666c9;
    transition: .3s;
}
.traveling {
    margin: 180px 140px 0 0;
}
.picture {
    padding: 20px;
   transform: rotate(45deg);
   overflow: hidden;
   border: 6px solid #FFFFFF;
   border-radius: 20px;
   opacity: 0;
}
.photos{
    display: none;
    margin-top: -200px;
}
.picture1 {
    padding: 20px;
    height: 115px;
    width: 115px;
}
.picture2 {
    padding: 10px;
    height: 75px;
    width: 75px;
}
.picture3 {
    padding: 10px;
    height: 65px;
    width: 65px;
}
.picture4{
    padding: 10px;
    height: 55px;
    width: 55px;
}
.picture > img{
    max-width: 100%;
    transform: rotate(-45deg) scale(2.1);
    z-index: -1;
    position: relative;
} 
.slider{
    margin-top: 60px;
}
.img2 {
    position: absolute;
    top: 600px;
    right: 720px;
}
.img3 {
    position: absolute;
    top: 650px;
    right: 550px;
}
.img4 {
    position: absolute;
    top: 490px;
    right: 335px;
}
.img5 {
    position: absolute;
    top: 390px;
    right: 320px;
}
.img6 {
    position: absolute;
    top: 150px;
    right: 310px;
}
.section-adventure .description{
    padding: 120px 70px 0 70px;
    background: url(./img/Vector\ 1\ \(1\).png);
    background-repeat: no-repeat;
}
.section-adventure .description p{
    margin-top: 30px;
}
.section-adventure button{
    margin-top: 150px;
}
.btn-type2{
    padding: 16px 24px;
    background-color: #FFFFFF;
    letter-spacing: 3px;
    transition: .5s;
}
.btn-type2:hover{
    margin-left: 20px ;
    box-shadow: 0 0 20px #ffffffc9;
    background-color: #F87932;
    transition: .3s;
}
.location p{
    font-size: 16px;
    font-family: 'Sedgwick Ave';
    color: #999999;
}
.location{
    display: flex;
    flex-direction: row;
}
.Nicosia img{
    margin: 30px 10px 0 0;
}
.Nicosia {
    position: absolute;
    top: 1050px;
    left: 730px;
}
.Limassol img{
    margin: 30px 0 0 10px;
}
.Limassol {
    position: absolute;
    top: 1200px;
    left: 310px;
}
.Larnaca img{
    margin: 30px 10px 0 0;
}
.Larnaca {
    position: absolute;
    top: 1300px;
    left: 900px;
}
.Troodos img{
    margin: 30px 0 0 10px;
}
.Paphos img{
    margin: 30px 0 0 10px;
}
.Troodos {
    position: absolute;
    top: 1590px;
    left: 800px;
}
.Paphos {
    position: absolute;
    top: 1640px;
    left: 380px;
}
.container-enough{
    color: #FFFFFF;
}
.box {
    width: 108px;
    height: 108px;
   overflow: hidden;
   background-color: #F87932;
   margin: 3px 0 0 3px;
}
.box > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(2.1);
    z-index: 3;
    position: relative;
    padding: 35px 35px 35px 45px;
}
.outlinekk{
    width: 113px;
    height: 113px;
   transform: rotate(45deg);
   overflow: hidden;
    outline: 10px solid  #F87932;
    margin-top: 120px;
 }
 .section-enough .video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 }
 .cost {
    height: 200px;
    transform: rotate(45deg);
    overflow: hidden;
    outline: 13px solid #39BFA7;
    margin: 105px 0 0 5px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-right: 130px;
    text-align: center;
}
.cost4{
    margin-right: 0px;
}
.cost .romb{
    width: 53px;
    height: 53px;
    overflow: hidden;
    outline: 5px solid #573b25;
    background-color: #39BFA7;
    margin: 15px 0 0 5px;
    border-radius: 2px;
}
.cost .romb p{
    transform: rotate(-45deg);
    padding: 10px  10px 10px 5px;
}
.cost h4 {
    transform: rotate(-45deg);
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin: 10px 0px 0px 25px;
}
.Gids h4{
    margin: 10px 10px 0 0;
}
.container-enough .row{
    margin-top: 122px;
}
.section-enough{
    background: url(./img/bg2.png);
    margin-top: 100px;
    padding-top: 350px;
    background-repeat: no-repeat;
}
.section-blog{
    margin-top: 150px;
}
.section-blog h4{
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    color: #444444;
    margin: 15px 0 15px 0;
}
.section-blog .header1{
    display: flex;
    flex-direction: column;
}
.section-blog p{
    font-size: 16px;
    color: #444444;
    letter-spacing: 3.7px;
    margin: 15px 0 50px 0;
}
.section-blog .grid {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(2, 282px);
    gap: 20px;
}
.section-blog .grid .grid-el:nth-child(1){
    grid-area: 1 / 1 / 3/ 2;
    background-image: url(./img/9.png);
}
.section-blog .grid .grid-el:nth-child(2){
    grid-area: 1 / 2 / 2/ 3;
    background-image: url(./img/10.png);
}
.section-blog .grid .grid-el:nth-child(3){
    grid-area: 2 / 2 / 3/ 3;
    background-image: url(./img/11.png);
}
.section-blog .grid .grid-el:nth-child(4){
    grid-area: 1 / 3 / 2/ 5;
    background-image: url(./img/12.png);
}
.section-blog .grid .grid-el:nth-child(5){
    background-image: url(./img/13.png);
}
.section-blog .grid .grid-el:nth-child(6){
    background-image: url(./img/14.png);
}
.section-blog button {
    margin: 50px 0 0 530px;
}
.section-blog .grid-el p{
    font-size: 24px;
    font-family: 'Merriweather';
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 900;
}
.section-blog .grid-el .fg{
    opacity: 0;
    margin: 600px 0 0 20px;
    transition: .5s;
}
.section-blog .grid-el .fg img {
    margin: 60px 0 0 60px;
}
.section-blog .grid-el:hover .fg{
    margin-top: 490px;
    opacity: 1;
    transition: .3s;
}
.section-blog .grid-el .fg2{
    margin: 300px 0 0 20px;
}
.section-blog .grid-el:hover .fg2{
    margin-top: 190px;
}
.section-blog .grid .img12{
    margin-left: 220px !important;
}
.section-blog .btn-type2:hover{
    margin-left: 600px;
}
.section-roadmap{
    background: url(./img/bg3.png);
    color: #FFFFFF;
    padding: 110px 0 110px 0;
    background-position: center -490px;
    background-size: cover;
    margin-top: 70px;
    transition: .5s;
}
.section-roadmap:hover{
    background-color:rgba(0, 0, 0, .5);
    transition: .3s;
}
.section-roadmap .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid #FFFFFF ;
    padding: 60px 0 40px 0;
}
.text p{
    font-size: 16px;
    letter-spacing: 4px;
}
.text{
    text-align: center;
    width: 690px;
}
.text img{
    margin: 15px 0;
}
.section-roadmap .hikes h2{
    font-family: 'Sedgwick Ave';
    font-weight: 400;
    color: #39BFA7;
}
.section-roadmap h1{
    font-family: 'Sedgwick Ave';
}
.section-roadmap h3{
    font-size: 40px;
    font-family: 'Merriweather';
}
.section-roadmap .main_part {
    margin-top: 65px;
    padding-left: 300px;
}
.section-roadmap .schedule .col-md-3{
    margin-top: 50px;
}
.section-roadmap .schedule .col-md-9{
    margin-top: 50px;
}
.section-feedback .container{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-feedback .zaiavka{
    margin-right: 400px;
}
.forma{
    display: flex;
    flex-direction: row;
}
.forma .input-group input{
    border: 3px solid #F87932;
    border-radius: 10px;
    padding-right: 100px;
}
.forma ::placeholder{
    font-size: 20px;
    font-family: 'Lato';
}
.forma .zaiavka{
   padding: 150px 0;
}
.forma .photo{
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    overflow: hidden;
    outline: 7px solid #39BFA7;
    margin: 50px 0;
    border-radius: 40px;
    background-color: #FFFFFF;
    text-align: center;
}
.forma .photo > img{
    max-width: 100%;
    transform: rotate(-45deg) scale(2.1);
    z-index: -1;
    position: relative;
    padding: 24px;
} 
footer{
    background-color: #151C21;
    color: #FFFFFF;
    padding: 70px 0;
}
footer .bold{
    font-weight: 700;
    margin-bottom: 5px;
}
footer .line{
    width: 100%;
    border: 1px solid #FFFFFF;
    margin: 70px 0;
}
footer .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BBBBBB;
}
footer .light{
    font-weight: 300;
}
@media(max-width:1600px){
    .container{
        width: 1400px !important;
    }
    .header{
        height: 930px;
    }
    .navigation .container{
        display: flex;
        justify-content: center;
    }
    .welcome .rombs{
        height: 830px;
    }
    .img2 {
        position: absolute;
        top: 540px;
        right: 580px;
    }
    .img3 {
        position: absolute;
        top: 630px;
        right: 360px;
    }
    .img4 {
        position: absolute;
        top: 470px;
        right: 145px;
    }
    .img5 {
        position: absolute;
        top: 380px;
        right: 140px;
    }
    .img6 {
        position: absolute;
        top: 150px;
        right: 140px;
    }
    .section-adventure .description {
        padding: 120px 70px 0 70px;
    }
    .Nicosia {
        position: absolute;
        top: 870px;
        left: 530px;
    }
    .Limassol {
        position: absolute;
        top: 1000px;
        left: 100px;
    }
    .Larnaca {
        position: absolute;
        top: 1130px;
        left: 680px;
    }
    .Troodos {
        position: absolute;
        top: 1410px;
        left: 570px;
    }
    .Paphos {
        position: absolute;
        top: 1450px;
        left: 150px;
    }
    .section-enough {
        padding-top: 200px;
        height: 890px;
    }
    .box > img {
        padding: 25px 25px 25px 30px;
    }
    .outlinekk {
        width: 80px;
        height: 80px;
        margin-top: 80px;
    }
    .box {
        width: 80px;
        height: 80px;
    }
    .cost {
        margin-right: 120px;
    }
    .section-blog {
        margin-top: 250px;
    }
    .section-blog .grid{
        padding-left: 50px;
    }
    .section-blog p {
        margin: 15px 0;
    }
    .section-blog button {
        margin: 30px 0 0 540px;
    }
    .forma .zaiavka {
        padding: 60px 0;
    }
}
@media(max-width:1537px){
    .container{
        width: 1400px !important;
    }
    .slider {
        margin-top: 20px;
    }
    .img2 {
        top: 530px;
        right: 520px;
    }
    .img6 {
        top: 100px;
        right: 100px;
    }
    .img5 {
        top: 350px;
        right: 100px;
    }
    .img4 {
        top: 450px;
        right: 115px;
    }
    .img3 {
        top: 600px;
        right: 330px;
    }
    .Limassol {
        position: absolute;
        top: 1010px;
        left: 60px;
    }
    .cost {
        height: 150px;
        width: 150px;
        outline: 10px solid #39BFA7;
        margin-right: 130px;
        text-align: center;
    }
    .cost4{
        margin-right: 0px !important;
    }
    .cost h4 {
        text-align: center;
        font-size: 24px;
        margin-left: 25px;
    }
    .container-enough .row {
        margin-top: 110px;
    }
    .section-enough {
        height: 855px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(4, 252px);
        grid-template-rows: repeat(2, 252px);
    }
    .section-blog .grid {
        padding-left: 110px;
    }
    .section-roadmap {
        padding: 70px 0 70px 0;
    }
    .section-roadmap .main_part {
        margin-top: 15px;
    }
    .section-feedback .container {
        padding-top: 55px;
    }
}
@media(max-width:1440px){
    .container{
        width: 1300px !important;
    }
    .traveling {
        margin: 180px 80px 0 0;
    }
    .Nicosia {
        top: 870px;
        left: 450px;
    }
    .Limassol {
        top: 1010px;
        left: 20px;
    }
    .Troodos {
        top: 1420px;
        left: 500px;
    }
    .Paphos {
        top: 1450px;
        left: 90px;
    }
    .section-enough {
        margin-top: 170px;
    }
    .section-roadmap .schedule .col-md-3 {
        margin-top: 20px;
    }
    .section-roadmap .schedule .col-md-9 {
        margin-top: 20px;
    }
    .section-feedback .container {
        padding-top: 90px;
    }
    footer {
        padding: 50px 0;
    }
    footer .line {
        margin: 40px 0;
    }
}