@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&display=swap');
.container{
    width: 1200px;
}
p{
    font-size: 20px;
}
a{
    font-size: 20px;
    font-family: 'Lato';
    color: #F87932;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
}
h1{
    font-size: 80px;
    font-family: 'Merriweather';
}
h2{
    font-size: 60px;
    font-family: 'Merriweather';
    font-weight: 900;
}
h3{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
}
h4{
    font-family: 'Lato';
    font-size: 24px;
    color: #666666;
    letter-spacing: 4px;
}
h5{
    color: #969696;
    font-family: 'Sedgwick Ave';
    font-size: 28px;
}
h6{
    font-size: 16px;
    font-family: 'Lato';
}
.block{
    background-color: #FFFFFFD9;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 5px 10px 0 #444444;
    text-align: center;
    width: 150px;
    padding: 15px;
    transition: .5s;
}
.block-1{
    height: 62px;
}
.block-1:hover{
    height: 100px;
    box-shadow: 0 5px 10px 0 #FFFFFFD9;
    padding-top: 50px;
    transition: .3s;
}
.block-2{
    height: 102px;
}
.collapse{
    color: #F87932;
    margin-top: -100px;
    display: none;
}
.navbar{
    margin-top: -100px;
    display: none;
}
.header{
    background: url(./img/BG.png);
    height: 1120px;
    background-size: cover;
}
.welcome h1{
    color: #39BFA7;
}
.welcome h1 .orange{
    color: #F87932;
}
.welcome .rombs{
    position: absolute;
    top: 0px;
}
.btn-type1{
    padding: 16px 24px;
    background-color: #F87932;
    color: #FFFFFF;
    margin-top: 50px;
    transition: .5s;
}
.btn-type1:hover{
   background-color: #eec0a5;
    margin-left: 20px ;
    box-shadow: 0 0 20px #666666c9;
    transition: .3s;
}
.traveling {
    margin: 180px 140px 0 0;
}
.picture {
    padding: 20px;
   transform: rotate(45deg);
   overflow: hidden;
   border: 6px solid #FFFFFF;
   border-radius: 20px;
   opacity: 0;
}
.photos{
    display: none;
    margin-top: -200px;
}
.picture1 {
    padding: 20px;
    height: 115px;
    width: 115px;
}
.picture2 {
    padding: 10px;
    height: 75px;
    width: 75px;
}
.picture3 {
    padding: 10px;
    height: 65px;
    width: 65px;
}
.picture4{
    padding: 10px;
    height: 55px;
    width: 55px;
}
.picture > img{
    max-width: 100%;
    transform: rotate(-45deg) scale(2.1);
    z-index: -1;
    position: relative;
} 
.slider{
    margin-top: 60px;
}
.img2 {
    position: absolute;
    top: 600px;
    right: 720px;
}
.img3 {
    position: absolute;
    top: 650px;
    right: 550px;
}
.img4 {
    position: absolute;
    top: 490px;
    right: 335px;
}
.img5 {
    position: absolute;
    top: 390px;
    right: 320px;
}
.img6 {
    position: absolute;
    top: 150px;
    right: 310px;
}
.section-adventure .description{
    padding: 120px 70px 0 70px;
    background: url(./img/Vector\ 1\ \(1\).png);
    background-repeat: no-repeat;
}
.section-adventure .description p{
    margin-top: 30px;
}
.section-adventure button{
    margin-top: 150px;
}
.btn-type2{
    padding: 16px 24px;
    background-color: #FFFFFF;
    letter-spacing: 3px;
    transition: .5s;
}
.btn-type2:hover{
    margin-left: 20px ;
    box-shadow: 0 0 20px #ffffffc9;
    background-color: #F87932;
    transition: .3s;
}
.location p{
    font-size: 16px;
    font-family: 'Sedgwick Ave';
    color: #999999;
}
.location{
    display: flex;
    flex-direction: row;
}
.Nicosia img{
    margin: 30px 10px 0 0;
}
.Nicosia {
    position: absolute;
    top: 1050px;
    left: 730px;
}
.Limassol img{
    margin: 30px 0 0 10px;
}
.Limassol {
    position: absolute;
    top: 1200px;
    left: 310px;
}
.Larnaca img{
    margin: 30px 10px 0 0;
}
.Larnaca {
    position: absolute;
    top: 1300px;
    left: 900px;
}
.Troodos img{
    margin: 30px 0 0 10px;
}
.Paphos img{
    margin: 30px 0 0 10px;
}
.Troodos {
    position: absolute;
    top: 1590px;
    left: 800px;
}
.Paphos {
    position: absolute;
    top: 1640px;
    left: 380px;
}