@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&display=swap');
.container{
    width: 1200px;
}
p{
    font-size: 20px;
}
a{
    font-size: 20px;
    font-family: 'Lato';
    color: #F87932;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
}
h1{
    font-size: 80px;
    font-family: 'Merriweather';
}
h2{
    font-size: 60px;
    font-family: 'Merriweather';
    font-weight: 900;
}
h3{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
}
h4{
    font-family: 'Lato';
    font-size: 24px;
    color: #666666;
    letter-spacing: 4px;
}
h5{
    color: #969696;
    font-family: 'Sedgwick Ave';
    font-size: 28px;
}
h6{
    font-size: 16px;
    font-family: 'Lato';
}
.block{
    background-color: #FFFFFFD9;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 5px 10px 0 #444444;
    text-align: center;
    padding-top: 15px;
    transition: .5s;
}
.block-1{
    height: 62px;
}
.block-1:hover{
    height: 100px;
    box-shadow: 0 5px 10px 0 #FFFFFFD9;
    padding-top: 50px;
    transition: .3s;
}
.block-2{
    height: 102px;
}
.collapse{
    color: #F87932;
    margin-top: -100px;
    display: none;
}
.navbar{
    margin-top: -100px;
    display: none;
}
.header{
    background: url(./img/BG.png);
    height: 1120px;
    background-size: cover;
}
.welcome h1{
    color: #39BFA7;
}
.welcome h1 .orange{
    color: #F87932;
}
.welcome .rombs{
    position: absolute;
    top: 0px;
}
.btn-type1{
    padding: 16px 24px;
    background-color: #F87932;
    color: #FFFFFF;
    margin-top: 50px;
    letter-spacing: 4px;
    transition: .5s;
}
.btn-type1:hover{
   background-color: #eec0a5;
    margin-left: 20px ;
    box-shadow: 0 0 20px #666666c9;
    transition: .3s;
}
.traveling {
    margin: 180px 140px 0 0;
}
.picture {
    padding: 20px;
   transform: rotate(45deg);
   overflow: hidden;
   border: 6px solid #FFFFFF;
   border-radius: 20px;
   opacity: 0;
}
.photos{
    display: none;
    margin-top: -200px;
}
.picture1 {
    padding: 20px;
    height: 115px;
    width: 115px;
}
.picture2 {
    padding: 10px;
    height: 75px;
    width: 75px;
}
.picture3 {
    padding: 10px;
    height: 65px;
    width: 65px;
}
.picture4{
    padding: 10px;
    height: 55px;
    width: 55px;
}
.picture > img{
    max-width: 100%;
    transform: rotate(-45deg) scale(2.1);
    z-index: -1;
    position: relative;
} 
.slider{
    margin-top: 60px;
}
.img2 {
    position: absolute;
    top: 600px;
    right: 720px;
}
.img3 {
    position: absolute;
    top: 650px;
    right: 550px;
}
.img4 {
    position: absolute;
    top: 490px;
    right: 335px;
}
.img5 {
    position: absolute;
    top: 390px;
    right: 320px;
}
.img6 {
    position: absolute;
    top: 150px;
    right: 310px;
}
.section-adventure .description{
    padding: 120px 70px 0 70px;
    background: url(./img/Vector\ 1\ \(1\).png);
    background-repeat: no-repeat;
}
.section-adventure .description p{
    margin-top: 30px;
}
.section-adventure button{
    margin-top: 150px;
}
.btn-type2{
    padding: 16px 24px;
    background-color: #FFFFFF;
    letter-spacing: 3px;
    transition: .5s;
}
.btn-type2:hover{
    margin-left: 20px ;
    box-shadow: 0 0 20px #ffffffc9;
    background-color: #F87932;
    transition: .3s;
}
.location p{
    font-size: 16px;
    font-family: 'Sedgwick Ave';
    color: #999999;
}
.location{
    display: flex;
    flex-direction: row;
}
.Nicosia img{
    margin: 30px 10px 0 0;
}
.Nicosia {
    position: absolute;
    top: 1050px;
    left: 730px;
}
.Limassol img{
    margin: 30px 0 0 10px;
}
.Limassol {
    position: absolute;
    top: 1200px;
    left: 310px;
}
.Larnaca img{
    margin: 30px 10px 0 0;
}
.Larnaca {
    position: absolute;
    top: 1300px;
    left: 900px;
}
.Troodos img{
    margin: 30px 0 0 10px;
}
.Paphos img{
    margin: 30px 0 0 10px;
}
.Troodos {
    position: absolute;
    top: 1590px;
    left: 800px;
}
.Paphos {
    position: absolute;
    top: 1640px;
    left: 380px;
}
.container-enough{
    color: #FFFFFF;
}
.box {
    width: 108px;
    height: 108px;
   overflow: hidden;
   background-color: #F87932;
   margin: 3px 0 0 3px;
}
.box > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(2.1);
    z-index: 3;
    position: relative;
    padding: 35px 35px 35px 45px;
}
.outlinekk{
    width: 113px;
    height: 113px;
   transform: rotate(45deg);
   overflow: hidden;
    outline: 10px solid  #F87932;
    margin-top: 120px;
 }
 .section-enough .video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 }
 .cost {
    height: 200px;
    transform: rotate(45deg);
    overflow: hidden;
    outline: 13px solid #39BFA7;
    margin: 105px 0 0 5px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-right: 130px;
    text-align: center;
}
.cost4{
    margin-right: 0px;
}
.cost .romb{
    width: 53px;
    height: 53px;
    overflow: hidden;
    outline: 5px solid #573b25;
    background-color: #39BFA7;
    margin: 15px 0 0 5px;
    border-radius: 2px;
}
.cost .romb p{
    transform: rotate(-45deg);
    padding: 10px  10px 10px 5px;
}
.cost h4 {
    transform: rotate(-45deg);
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin: 10px 0px 0px 25px;
}
.Gids h4{
    margin: 10px 10px 0 0;
}
.container-enough .row{
    margin-top: 122px;
}
.section-enough{
    background: url(./img/bg2.png);
    margin-top: 100px;
    padding-top: 350px;
    background-repeat: no-repeat;
}
.section-blog{
    margin-top: 150px;
}
.section-blog h4{
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    color: #444444;
    margin: 15px 0 15px 0;
}
.section-blog .header1{
    display: flex;
    flex-direction: column;
}
.section-blog p{
    font-size: 16px;
    color: #444444;
    letter-spacing: 3.7px;
    margin: 15px 0 50px 0;
}
.section-blog .grid {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(2, 282px);
    gap: 20px;
}
.section-blog .grid .grid-el:nth-child(1){
    grid-area: 1 / 1 / 3/ 2;
    background-image: url(./img/9.png);
}
.section-blog .grid .grid-el:nth-child(2){
    grid-area: 1 / 2 / 2/ 3;
    background-image: url(./img/10.png);
}
.section-blog .grid .grid-el:nth-child(3){
    grid-area: 2 / 2 / 3/ 3;
    background-image: url(./img/11.png);
}
.section-blog .grid .grid-el:nth-child(4){
    grid-area: 1 / 3 / 2/ 5;
    background-image: url(./img/12.png);
}
.section-blog .grid .grid-el:nth-child(5){
    background-image: url(./img/13.png);
}
.section-blog .grid .grid-el:nth-child(6){
    background-image: url(./img/14.png);
}
.section-blog button {
    margin: 50px 0 0 530px;
}
.section-blog .grid-el p{
    font-size: 24px;
    font-family: 'Merriweather';
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 900;
}
.section-blog .grid-el .fg{
    opacity: 0;
    margin: 600px 0 0 20px;
    transition: .5s;
}
.section-blog .grid-el .fg img {
    margin: 60px 0 0 60px;
}
.section-blog .grid-el:hover .fg{
    margin-top: 490px;
    opacity: 1;
    transition: .3s;
}
.section-blog .grid-el .fg2{
    margin: 300px 0 0 20px;
}
.section-blog .grid-el:hover .fg2{
    margin-top: 190px;
}
.section-blog .grid .img12{
    margin-left: 220px !important;
}
.section-blog .btn-type2:hover{
    margin-left: 600px;
}
.section-roadmap{
    background: url(./img/bg3.png);
    color: #FFFFFF;
    padding: 110px 0 110px 0;
    background-position: center -490px;
    background-size: cover;
    margin-top: 70px;
    background-repeat: no-repeat;
    transition: .5s;
}
.section-roadmap:hover{
    background-color:rgba(0, 0, 0, .5);
    transition: .3s;
}
.section-roadmap .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid #FFFFFF ;
    padding: 60px 0 40px 0;
}
.text p{
    font-size: 16px;
    letter-spacing: 4px;
}
.text{
    text-align: center;
    width: 690px;
}
.text img{
    margin: 15px 0;
}
.section-roadmap .hikes h2{
    font-family: 'Sedgwick Ave';
    font-weight: 400;
    color: #39BFA7;
}
.section-roadmap h1{
    font-family: 'Sedgwick Ave';
}
.section-roadmap h3{
    font-size: 40px;
    font-family: 'Merriweather';
}
.section-roadmap .main_part {
    margin-top: 65px;
    padding-left: 300px;
}
.section-roadmap .schedule .col-md-3{
    margin-top: 50px;
}
.section-roadmap .schedule .col-md-9{
    margin-top: 50px;
}
.section-feedback .container{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-feedback .zaiavka{
    margin-right: 400px;
}
.forma{
    display: flex;
    flex-direction: row;
}
.forma .input-group input{
    border: 3px solid #F87932;
    border-radius: 10px;
    padding-right: 100px;
}
.forma ::placeholder{
    font-size: 20px;
    font-family: 'Lato';
}
.forma .zaiavka{
   padding: 150px 0;
}
.forma .photo{
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    overflow: hidden;
    outline: 7px solid #39BFA7;
    margin: 50px 0;
    border-radius: 40px;
    background-color: #FFFFFF;
    text-align: center;
}
.forma .photo > img{
    max-width: 100%;
    transform: rotate(-45deg) scale(2.1);
    z-index: -1;
    position: relative;
    padding: 24px;
} 
footer{
    background-color: #151C21;
    color: #FFFFFF;
    padding: 70px 0;
}
footer .bold{
    font-weight: 700;
    margin-bottom: 5px;
}
footer .line{
    width: 100%;
    border: 1px solid #FFFFFF;
    margin: 70px 0;
}
footer .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BBBBBB;
}
footer .light{
    font-weight: 300;
}
@media(max-width:1601px){
    .container{
        width: 1400px !important;
    }
    .header{
        height: 930px;
    }
    .navigation .row {
        padding-left: 90px;
    }
    .welcome .rombs{
        height: 830px;
    }
    .img2 {
        position: absolute;
        top: 540px;
        right: 580px;
    }
    .img3 {
        position: absolute;
        top: 630px;
        right: 360px;
    }
    .img4 {
        position: absolute;
        top: 470px;
        right: 145px;
    }
    .img5 {
        position: absolute;
        top: 380px;
        right: 140px;
    }
    .img6 {
        position: absolute;
        top: 150px;
        right: 140px;
    }
    .section-adventure .description {
        padding: 120px 70px 0 70px;
    }
    .Nicosia {
        position: absolute;
        top: 870px;
        left: 530px;
    }
    .Limassol {
        position: absolute;
        top: 1000px;
        left: 100px;
    }
    .Larnaca {
        position: absolute;
        top: 1130px;
        left: 680px;
    }
    .Troodos {
        position: absolute;
        top: 1410px;
        left: 570px;
    }
    .Paphos {
        position: absolute;
        top: 1450px;
        left: 150px;
    }
    .section-enough {
        padding-top: 200px;
        height: 890px;
    }
    .box > img {
        padding: 25px 25px 25px 30px;
    }
    .outlinekk {
        width: 80px;
        height: 80px;
        margin-top: 80px;
    }
    .box {
        width: 80px;
        height: 80px;
    }
    .cost {
        margin-right: 120px;
    }
    .section-blog {
        margin-top: 250px;
    }
    .section-blog .grid{
        padding-left: 50px;
    }
    .section-blog p {
        margin: 15px 0;
    }
    .section-blog button {
        margin: 30px 0 0 540px;
    }
    .forma .zaiavka {
        padding: 60px 0;
    }
}
@media(max-width:1537px){
    .container{
        width: 1400px !important;
    }
    .slider {
        margin-top: 20px;
    }
    .img2 {
        top: 530px;
        right: 520px;
    }
    .img6 {
        top: 100px;
        right: 100px;
    }
    .img5 {
        top: 350px;
        right: 100px;
    }
    .img4 {
        top: 450px;
        right: 115px;
    }
    .img3 {
        top: 600px;
        right: 330px;
    }
    .Limassol {
        position: absolute;
        top: 1010px;
        left: 60px;
    }
    .cost {
        height: 150px;
        width: 150px;
        outline: 10px solid #39BFA7;
        margin-right: 130px;
        text-align: center;
    }
    .cost4{
        margin-right: 0px !important;
    }
    .cost h4 {
        text-align: center;
        font-size: 24px;
        margin-left: 25px;
    }
    .container-enough .row {
        margin-top: 110px;
    }
    .section-enough {
        height: 855px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(4, 252px);
        grid-template-rows: repeat(2, 252px);
    }
    .section-blog .grid {
        padding-left: 110px;
    }
    .section-roadmap {
        padding: 70px 0 70px 0;
    }
    .section-roadmap .main_part {
        margin-top: 15px;
    }
    .section-feedback .container {
        padding-top: 55px;
    }
}

@media(max-width:1441px){
    .container{
        width: 1300px !important;
    }
    .block-1 {
        height: 42px;
        padding-top: 5px;
    }
    .block-2 {
        height: 82px;
        padding-top: 5px;
    }
    .traveling {
        margin: 180px 80px 0 0;
    }
    .Nicosia {
        top: 870px;
        left: 450px;
    }
    .Limassol {
        top: 1010px;
        left: 20px;
    }
    .Troodos {
        top: 1420px;
        left: 500px;
    }
    .Paphos {
        top: 1450px;
        left: 90px;
    }
    .section-enough {
        margin-top: 170px;
    }
    .section-roadmap .schedule .col-md-3 {
        margin-top: 20px;
    }
    .section-roadmap .schedule .col-md-9 {
        margin-top: 20px;
    }
    .section-feedback .container {
        padding-top: 90px;
    }
    footer {
        padding: 50px 0;
    }
    footer .line {
        margin: 40px 0;
    }
}

@media(max-width:1367px){
    .container{
        width: 1300px !important;
    }
    h2 {
        font-size: 50px;
    }
    h5 {
        font-size: 23px;
    }
    .header {
        height: 870px;
    }
    .welcome .rombs {
        height: 700px;
    }
    .traveling {
        margin: 100px 80px 0 0;
    }
    .img1{
        height: 400px;
    }
    .img2 {
        height: 200px;
        top: 500px;
        right: 500px;
    }
    .img3 {
        height: 120px;
        top: 550px;
        right: 360px;
    }
    .img4 {
        height: 220px;
        top: 430px;
        right: 180px;
    }
    .img5 {
        height: 110px;
        top: 350px;
        right: 170px;
    }
    .img6 {
        height: 200px;
        top: 170px;
        right: 170px;
    }
    .slider {
        margin-top: 100px;
    }
    .traveling {
        margin: 100px 100px 0 0;
    }
    .Nicosia {
        top: 810px;
        left: 490px;
    }
    .Limassol {
        top: 970px;
        left: 50px;
    }
    .Larnaca {
        top: 1077px;
        left: 630px;
    }
    .Troodos {
        top: 1370px;
        left: 500px;
    }
    .Paphos {
        top: 1390px;
        left: 140px;
    }
    .section-adventure button {
        margin-top: 120px;
    }
    .section-enough {
        padding-top: 150px;
        height: 750px;
    }
    .outlinekk {
        width: 70px;
        height: 70px;
    }
    .box {
        width: 70px;
        height: 70px;
        margin: 0;
    }
    .container-enough .row {
        margin-top: 150px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(4, 210px);
        grid-template-rows: repeat(2, 210px);
        padding-left: 110px;
    }
    .section-blog button {
        margin: 30px 0 0 480px;
    }
    .section-roadmap {
        padding: 50px 0 50px 0;
    }
    .section-roadmap h3 {
        font-size: 32px;
        font-family: 'Merriweather';
    }
    .section-feedback .container {
        padding-top: 30px;
    }
    .forma .photo {
        height: 120px;
        width: 120px;
        border-radius: 25px;
    }
}

@media(max-width:1280px){
    .container{
        width: 1100px !important;
    }
    h1 {
        font-size: 70px;
    }
    .img4 {
        height: 220px;
        top: 420px;
        right: 140px;
    }
    .img5 {
        height: 110px;
        top: 350px;
        right: 130px;
    }
    .img6 {
        height: 170px;
        top: 190px;
        right: 140px;
    }
    .img3 {
        height: 120px;
        top: 540px;
        right: 310px;
    }
    .img2 {
        height: 200px;
        top: 505px;
        right: 440px;
    }
    .section-adventure .description {
        padding: 100px 70px 0 70px;
    }
    .section-adventure .description p {
        margin-top: 50px;
    }
    .Limassol {
        top: 970px;
        left: 30px;
    }
    .section-adventure button {
        margin-top: 130px;
    }
    .Larnaca {
        top: 1090px;
        left: 550px;
    }
    .Paphos {
        top: 1390px;
        left: 110px;
    }
    .advent{
        margin-top: 70px;
        width: 600px;
    }
    .section-enough {
         margin-top: 100px; 
    }
    .container-enough .row {
        margin-top: 95px;
    }
    .section-blog {
        margin-top: 200px;
    }
    footer .line {
        margin: 30px 0;
    }
}

@media(max-width:1024px){
    .container{
        width: 900px !important;
    }
    a{
        font-size: 16px;
    }
    .navigation .row {
        padding-left: 30px;
    }
    .header {
        height: 1400px;
    }
    .welcome .col-md-2{
        display: none;
    }
    .welcome .row{
        padding-left: 100px;
    }
    .traveling {
        margin: 350px 100px 0 0;
    }
    .slider {
        margin-top: 300px;
    }
    .img2 {
        height: 200px;
        top: 705px;
        right: 400px;
    }
    .img3 {
        height: 120px;
        top: 730px;
        right: 250px;
    }
    .img4 {
        height: 220px;
        top: 610px;
        right: 70px;
    }
    .img5 {
        height: 110px;
        top: 530px;
        right: 70px;
    }
    .img6 {
        height: 170px;
        top: 390px;
        right: 100px;
    }
    .advent {
        margin-top: 160px;
        width: 450px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 210px);
        grid-template-rows: repeat(4, 210px);
        padding-left: 210px;
    }
    .section-blog .grid .grid-el:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
    }
    .section-blog .grid .grid-el:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .section-blog .grid .grid-el:nth-child(1) {
        grid-area: 1 / 2 / 3 / 3;
    }
    .section-blog .grid .grid-el:nth-child(4) {
        grid-area: 4 / 1 / 5 / 3;
    }
    .section-blog .grid .grid-el:nth-child(5) {
        grid-area: 3 / 1 / 4 / 2;
    }
    .section-blog .grid .grid-el:nth-child(6) {
        grid-area: 3 / 2 / 4 / 3;
    }
    .section-blog button {
        margin: 50px 0 0 350px;
    }
    .section-adventure .description {
        margin-top: 200px;
    }
    .advent {
        margin-top: 360px;
    }
    .Nicosia {
        top: 1530px;
        left: 440px;
    }
    .Limassol {
        top: 1680px;
        left: 20px;
    }
    .Larnaca {
        top: 1820px;
        left: 500px;
    }
    .Troodos {
        top: 2100px;
        left: 480px;
    }
    .Paphos {
        top: 2120px;
        left: 70px;
    }
    .section-enough {
        margin-top: 200px;
    }
    .section-enough {
        padding-top: 150px;
        height: 1350px;
    }
    .section-enough .video {
        margin-top: 200px;
    }
    .section-enough{
        background: url(./img/19.png);
        background-size: cover;
    }
    .cost {
        margin-right: 80px;
    }
    .container-enough .row {
        margin-top: 493px;
    }
    .section-blog button {
        margin: 60px 0 0 330px;
    }
    .section-roadmap {
        background-position: center -170px;
    }
    .main_part button{
        margin: -100px 40px 0 0 !important;
    }
    .btn-type1 {
        margin: -100px 170px 0 0;
    }
    .welcome .btn-type1{
        margin: 40px 0 0 0;
    }
    .section-feedback .forma{
        display: flex;
        flex-direction: column;
    }
    .section-feedback .zaiavka {
        margin-right: 0px;
        padding: 120px;
    }
    .forma .btn-type1{
        margin: 100px 100px;
    }
    .forma .btn-type1 {
        margin: 40px 230px;
    }
    .section-feedback .container {
        padding-top: 100px;
    }
    .feb-photo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 110px;
    }
    .forma .photo {
        height: 150px;
        width: 150px;
    }
    .section-roadmap h1{
        font-size: 55px;
    }
    .section-blog .grid-el:hover .fg {
        margin-top: 140px;
        opacity: 1;
        transition: .3s;
    }
    .section-blog .grid-el .fg img {
        margin: 20px 0 0 0px;
    }
    .section-blog .grid-el p {
        font-size: 18px;
    }
    .section-blog .grid-el .fg {
        margin: 200px 0 0 20px;
    }
}

@media(max-width:835px){
    .container{
        width: 700px !important;
    }
    a{
        font-size: 14px;
    }
    .block-1 {
        height: 42px;
        padding: 5px 0 0 0 !important;
    }
    .block-2 img{
        height: 60px;
    }
    .header {
        height: 1300px;
    }
    .welcome .row {
        padding-left: 50px;
    }
    .img6 {
        height: 170px;
        top: 370px;
        right: 20px;
    }
    .welcome .slider{
        display: none;
    }
    .picture {
        opacity: 1;
    }
    .traveling {
        margin: 170px 0px 0 0;
    }
    .btn-type1 {
        padding: 7px 44px;
    }
    .advent{
        display: none;
    }
    .welcome .row{
        width: 830px;
    }
    .navigation .row .block{
        margin-right: 10px !important;
    }
    .navigation .row {
        padding-left: 50px;
    }
    .picture1 {
        height: 230px;
        width: 230px;
        position: absolute;
        top: 900px;
        left: 140px;
    }
    .picture2 {
        height: 180px;
        width: 180px;
        position: absolute;
        top: 820px;
        left: 390px;
    }
    .picture3 {
        height: 130px;
        width: 130px;
        position: absolute;
        top: 880px;
        left: 640px;
    }
    .picture4 {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 870px;
        left: 30px;
    }
    .section-adventure .description {
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }
    .section-adventure .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Nicosia {
        top: 1230px;
        left: 440px;
    }
    .Limassol {
        top: 1380px;
        left: 20px;
    }
    .Larnaca {
        top: 1510px;
        left: 670px;
    }
    .Troodos {
        top: 1800px;
        left: 480px;
    }
    .Paphos {
        top: 1820px;
        left: 70px;
    }
    .ph1 img{
        height: 250px;
    }
    .photos {
        display: flex;
        justify-content: space-between;
        height: 450px;
        margin-top: 50px;
    }
    .section-enough {
        margin-top: 0px;
    }
    .cost{
        width:200px ;
        height: 200px;
        margin: 0px;
    }
    .cost1 {
        position: absolute;
        top: 3250px;
        left: 320px;
    }
    .cost2 {
        position: absolute;
        top: 3430px;
        left: 150px;
    }
    .Gids {
        position: absolute;
        top: 3600px;
        left: 320px;
    }
    .cost4 {
        position: absolute;
        top: 3430px;
        left: 490px;
    }
    .section-blog {
        margin-top: 80px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(4, 200px);
        padding-left: 120px;
    }
    .section-blog button {
        margin: 30px 0 0 250px;
    }
    .section-roadmap h1 {
        font-size: 48px;
    }
    .main_part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section-roadmap .main_part {
        padding-left: 0px;
    }
    .hikes{
        width: 100%;
    }
    .main_part .col-md-8{
        width: 100%;
    }
    .section-roadmap .schedule .col-md-9 {
        margin-top: 10px;
    }
    .section-roadmap h3 {
        font-size: 26px;
    }
    .btn-type1 {
        margin:  0;
    }
    .section-roadmap {
        background-position: center 0px;
    }
    .section-feedback .container {
        padding-top: 50px;
    }
    .forma .btn-type1 {
        margin: 40px 130px;
    }
    .section-feedback .zaiavka {
        padding: 55px 100px;
    }
    footer {
        padding: 20px 0;
    }
}

@media(max-width:821px){
    .container{
        width: 700px !important;
    }
    .header {
        height: 1250px;
    }
    .picture1 {
        height: 200px;
        width: 200px;
        top: 900px;
        left: 150px;
    }
    .picture2 {
        height: 160px;
        width: 160px;
        top: 820px;
        left: 360px;
    }
    .picture3 {
        height: 110px;
        width: 110px;
        top: 880px;
        left: 623px;
    }
    .picture4 {
        height: 110px;
        width: 110px;
        top: 840px;
        left: 30px;
    }
    .photos{
        height: 400px;
    }
    .Nicosia {
        top: 1190px;
        left: 440px;
    }
    .Limassol {
        top: 1320px;
        left: 20px;
    }
    .Larnaca {
        top: 1460px;
        left: 670px;
    }
    .Troodos {
        top: 1740px;
    }
    .Paphos {
        top: 1770px;
    }
    .section-enough .video {
        margin-top: 100px;
    }
    .section-enough {
        height: 1100px;
    }
    .cost {
        width: 180px;
        height: 180px;
    }
    .Gids {
        top: 3340px;
    }
    .cost1 {
        top: 3040px;
    }
    .cost2 {
        top: 3190px;
    }
    .cost4 {
        top: 3190px;
    }
    .section-blog {
        margin-top: 140px;
    }
    .feb-photo {
        margin-bottom: 100px;
    }
    .forma .input-group input {
        padding-right: 0px; 
    }
}

@media(max-width:811px){
    .container{
        width: 700px !important;
    }
    .header {
        height: 1150px;
    }
    .picture1 {
        top: 800px;
        left: 130px;
    }
    .picture2 {
        top: 730px;
        left: 340px;
    }
    .picture3 {
        top: 790px;
        left: 570px;
    }
    .picture4 {
        height: 100px;
        width: 100px;
        top: 760px;
        left: 30px;
    }
    .photos {
        margin-top: 0px;
    }
    .Nicosia {
        top: 1090px;
    }
    .Limassol {
        top: 1220px;
    }
    .Larnaca {
        top: 1360px;
    }
    .Troodos {
        top: 1640px;
    }
    .Paphos {
        top: 1670px;
    }
    .section-enough {
        height: 1000px;
    }
    .cost {
        width: 150px;
        height: 150px;
    }
    .cost h4 {
        font-size: 20px;
    }
    .Gids {
        top: 3105px;
        left: 330px;
    }
    .cost1 {
        top: 2840px;
        left: 330px;
    }
    .cost2 {
        top: 2970px;
        left: 180px;
    }
    .cost4 {
        top: 2970px;
        left: 480px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(4, 170px);
        padding-left: 160px;
    }
    .section-blog .grid-el:hover .fg {
        margin-top: 90px;
    }
    .section-roadmap .container {
        padding: 20px 0 20px 0;
    }
    .main_part{
        text-align: start;
    }
    .section-feedback .zaiavka {
        padding: 35px 100px;
    }
    .feb-photo {
        margin-bottom: 60px;
    }
}

@media(max-width:769px){
    .container{
        width: 700px !important;
    }
    p {
        font-size: 19px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 38px;
    }
    .section-blog h4 {
        font-size: 24px;
    }
    .welcome .row {
        width: 600px;
    }
    .btn-type1 {
        width: 230px;
    }
    .photos {
        margin-top: -60px;
    }
    .Limassol {
        top: 1200px;
    }
    .Larnaca {
        top: 1380px;
    }
    .Troodos {
        top: 1630px;
    }
    .outlinekk {
        width: 50px;
        height: 50px;
    }
    .box > img {
        padding: 20px 30px 30px 30px;
    }
    .section-enough {
        height: 900px;
    }
    .section-enough .video {
        margin-top: 30px;
    }
    .cost {
        width: 130px;
        height: 130px;
        outline: 7px solid #39BFA7
    }
    .Gids {
        top: 2890px;
        left: 320px;
    }
    .cost1 {
        top: 2670px;
        left: 320px;
    }
    .cost h4 {
        font-size: 15px;
        margin-left: 30px;
    }
    .cost .romb {
        width: 45px;
        height: 45px;
    }
    .cost4 {
        top: 2780px;
        left: 450px;
    }
    .cost2 {
        top: 2780px;
        left: 190px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(4, 150px);
        padding-left: 170px;
    }
    .section-blog .grid-el p {
        font-size: 13px;
    }
    .section-blog button {
        margin: 30px 0 0 240px;
    }
    .section-roadmap {
        padding: 20px 0 20px 0;
    }
    .section-feedback .container {
        padding-top: 30px;
    }
    .feb-photo {
        margin-bottom: 20px;
    }
}

@media(max-width:415px){
    .container{
        width: 380px !important;
    }
    .container{
        overflow-x: hidden;
    }
    .header {
        height: 770px;
    }
    .traveling {
        margin: 100px 0px 0 0;
    }
    .advent {
        width: 100px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 18px;
    }
    .section-blog h4 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .navigation .row{
        display: none;
    }
    .btn-type2 {
        padding: 5px 5px;
    }
    .section-adventure .description {
        background-size: 400px 500px;
        background-position: center center;
    }
    .location img{
        height: 19px;
    }
    .picture1 {
        top: 530px;
        left: 85px;
        height: 135px;
        width: 135px;
    }
    .picture2 {
        top: 500px;
        left: 240px;
        height: 100px;
        width: 100px;
    }
    .picture4 {
        height: 80px;
        width: 80px;
        top: 490px;
        left: 0px;
    }
    .picture3 {
        top: 450px;
        left: 340px;
        height: 60px;
        width: 60px;
    }
    .Nicosia {
        top: 760px;
        left: 240px;
    }
    .Limassol {
        top: 820px;
    }
    .Larnaca {
        top: 980px;
        left: 350px;
    }
    .Paphos {
        top: 1250px;
        left: 0;
    }
    .Troodos {
        top: 1180px;
        left: 280px;
    }
    .ph1 img{
        height: 150px;
    }
    .img18{
        margin-top: 150px;
        height: 250px;
    }
    .photos {
        margin-top: -240px;
    }
    .section-enough {
        height: 650px;
    }
    .cost {
        width: 90px;
        height: 90px;
        outline: 6px solid #39BFA7;
    }
    .outlinekk {
        width: 30px;
        height: 30px;
    }
    .box > img {
        padding: 10px 30px 30px 30px;
    }
    .section-enough .video {
        margin-top: 0px;
    }
    .cost1 {
        top: 1950px;
        left: 155px;
    }
    .Gids {
        top: 2100px;
        left: 155px;
    }
    .cost .romb {
        width: 25px;
        height: 25px;
    }
    .cost2 {
        top: 2025px;
        left: 70px;
    }
    .cost4 {
        top: 2025px;
        left: 240px;
    }
    .cost h4 {
        font-size: 10px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(4, 150px);
        padding-left: 0px;
    }
    .section-feedback .forma {
       width: 370px;
    }
    .section-feedback .zaiavka {
        padding: 35px 0px;
    }
    .forma .photo {
        height: 90px;
        width: 90px;
    }
    .text {
        text-align: center;
        width: 360px;
    }
    .welcome .row {
        width: 370px;
    }
    .navbar{
        display: flex;
        margin: 0px;
    }
    .collapse{
        display: flex;
        margin: 0px;
    }
    .section-blog {
        margin-top: 70px;
    }
    .header1{
        text-align: center;
    }
    .header1 img {
        height: 12px;
    }
    .section-blog p {
        font-size: 12px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(4, 100px);
        padding-left: 60px;
    }
    .section-blog button {
        margin: 30px 0 0 120px;
        font-size: 12px;
    }
    .section-roadmap {
        margin-top: 70px;
    }
    .section-blog .grid-el .fg {
        margin: 60px 0 0 20px;
    }
    .section-blog .grid-el:hover .fg {
        margin: 40px 0 0 20px;
        font-size: 10px;
    }
    .section-blog .grid-el .fg img {
        height: 5px;
    }
    .section-blog button:hover {
        background-color: #F87932;
        margin: 10px !important;
    }
    .section-roadmap .main_part {
        padding-left: 50px;
    }
    .section-roadmap h1 {
        font-size: 22px;
    }
    h5 {
        font-size: 17px;
    }
    .section-roadmap h3 {
        font-size: 20px;
    }
    .schedule{
        display: flex;
        flex-direction: row;
    }
    .text img {
        height: 20px;
    }
    .feb img{
        height: 12px;
    }
    .section-feedback .forma {
        width: 340px;
    }
    .forma .btn-type1 {
        margin: 40px 55px;
    }
    .feb-photo {
        display: none;
    }
    footer {
        padding: 60px 0;
    }
}

@media(max-width:391px){
    .container{
        width: 380px !important;
        overflow-x: hidden;
    }
    .header {
        height: 870px;
    }
    .Larnaca {
        top: 980px;
        left: 250px;
    }
    .picture1 {
        top: 630px;
        left: 105px;
    }
    .picture2 {
        top: 570px;
    }
    .picture3 {
        top: 510px;
        left: 320px;
    }
    .picture4 {
        top: 580px;
        left: 30px;
    }
    .Nicosia {
        top: 860px;
    }
    .Limassol {
        top: 910px;
    }
    .Larnaca {
        top: 1090px;
        left: 310px;
    }
    .Troodos {
        top: 1280px;
        left: 270px;
    }
    .Paphos {
        top: 1350px;
        left: 0;
    }
    .section-enough {
        height: 750px;
    }
    .Gids {
        top: 2305px;
    }
    .cost1 {
        top: 2150px;
        left: 155px;
    }
    .cost2 {
        top: 2225px;
        left: 70px;
    }
    .cost4 {
        top: 2225px;
    }
    .section-blog {
        margin-top: 110px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(4, 120px);
        padding-left: 50px;
    }
    .section-roadmap .container {
        width: 350px !important;
        border: 2px solid #FFFFFF;
    }
    .text p {
        font-size: 12px;
        letter-spacing: 2px;
    }
    .section-feedback .zaiavka {
        padding: 67px 0px;
    }
    .section-feedback .container {
        padding-top: 85px;
    }
}

@media(max-width:377px){
    .container{
        width: 360px !important;
        overflow-x: hidden;
    }
    h4 {
        font-size: 13px;
        letter-spacing: 2px;
    }
    h3 {
        font-size: 22px;
    }
    h2 {
        font-size: 26px;
    }
    .picture3 {
        top: 510px;
        left: 300px;
    }
    .header {
        height: 720px;
    }
    .picture1 {
        top: 530px;
        left: 90px;
        height: 110px;
        width: 110px;
    }
    .picture2 {
        top: 500px;
        left: 210px;
        height: 80px;
        width: 80px;
    }
    .picture3 {
        top: 470px;
        left: 300px;
    }
    .picture4 {
        top: 480px;
        left: 20px;
    }
    .section-adventure .description {
        background-size: 350px 450px;
        background-position: center center;
    }
    .Nicosia {
        top: 730px;
        left: 220px;
    }
    .location p {
        font-size: 12px;
    }
    .Limassol {
        top: 800px;
        left: 10px;
    }
    .Larnaca {
        top: 925px;
        left: 300px;
    }
    .Troodos {
        top: 1090px;
    }
    .Paphos {
        top: 1170px;
        left: 0;
    }
    .btn-type2 {
        padding: 2px 10px;
        font-size: 12px;
    }
    .img18 {
        margin-top: 190px;
        height: 200px;
    }
    .ph1 img {
        height: 100px;
    }
    .location img {
        height: 14px;
    }
    .section-enough {
        height: 600px;
    }
    .outlinekk {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
    .box > img {
        padding: 10px 30px 40px 30px;
    }
    .Gids {
        top: 1980px;
        left: 140px;
    }
    .cost1 {
        top: 1830px;
        left: 140px;
    }
    .cost2 {
        top: 1905px;
        left: 60px;
    }
    .cost4 {
        top: 1905px;
        left: 220px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(4, 90px);
        padding-left: 65px;
    }
    .section-blog .grid-el p {
        font-size: 10px;
    }
    .section-blog button {
        margin: 30px 0 0 110px;
        font-size: 11px;
    }
    .section-roadmap {
        margin-top: 40px;
    }
    .section-feedback .container {
        padding-top: 25px;
    }
    .section-feedback .forma {
        width: 300px;
    }
    .forma ::placeholder{
        font-size: 12px;
    }
    .btn-type1 {
        width: 190px;
        font-size: 11px;
        margin: 10px 55px !important;
    }
    .section-feedback .zaiavka {
        padding: 45px 0px;
    }
}

@media(max-width:320px){
    .container{
        width: 310px !important;
        overflow-x: hidden !important;
    }
    h4 {
        font-size: 12px;
    }
    h2 {
        font-size: 22px;
    }
    .section-blog h4 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    .img18 {
        margin-top: 100px;
        height: 200px;
    }
    .photos{
        margin-top: 100px;
    }
    .welcome .row {
        padding-left: 20px;
    }
    .traveling {
        margin: 60px 0px 0 0;
    }
    .btn-type1 {
        width: 190px;
        font-size: 9.3px;
        margin: 10px 5px !important;
    }
    .header {
        height: 600px;
    }
    .picture1 {
        top: 440px;
        left: 75px;
        height: 90px;
        width: 90px;
        padding: 10px;
    }
    .picture2 {
        top: 410px;
        left: 170px;
        height: 70px;
        width: 70px;
    }
    .picture {
        border: 5px solid #FFFFFF;
        border-radius: 10px;
    }
    .welcome .row {
        width: 300px;
    }
    .picture3 {
        top: 370px;
        left: 240px;
    }
    .picture4 {
        top: 400px;
        left: 20px;
        height: 60px;
        width: 60px;
    }
    .section-adventure .description {
        background-size: 270px 350px;
        background-position: center center;
    }
    .img18 {
        margin-top: 120px;
        height: 180px;
    }
    .location p {
        font-size: 10px;
    }
    .Nicosia img {
        margin: 20px 10px 0 0;
    }
    .Nicosia {
        top: 570px;
        left: 180px;
    }
    .Limassol img {
        margin: 30px 0 0 10px;
    }
    .Limassol {
        top: 630px;
        left: 00px;
    }
    .Larnaca {
        top: 715px;
        left: 260px;
    }
    .Troodos img {
        margin: 20px 0 0 10px;
    }
    .Troodos {
        left: 240px;
        top: 800px;
    }
    .Paphos {
        top: 910px;
        left: 10px;
    }
    .section-adventure .description p {
        margin-top: 20px;
    }
    .section-adventure button {
        margin-top: 0px;
    }
    .photos {
        margin-top: -160px;
    }
    .section-enough {
        padding-top: 100px;
        height: 500px;
    }
    .cost {
        width: 80px;
        height: 80px;
        outline: 4px solid #39BFA7;
    }
    .Gids {
        top: 1650px;
        left: 120px;
    }
    .cost1 {
        top: 1520px;
        left: 120px;
    }
    .cost2 {
        top: 1585px;
        left: 50px;
    }
    .cost4 {
        top: 1585px;
        left: 190px;
    }
    .section-blog {
        margin-top: 70px;
    }
    .header1 img {
        height: 9px;
    }
    .section-blog .grid {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(4, 80px);
        padding-left: 50px;
    }
    .grid-el:hover .fg {
        margin: 30px 0 0 10px;
    }
    .section-blog h4 {
        margin: 5px 0;
    }
    .section-blog p {
        margin: 10px 0;
    }
    .section-blog p {
        font-size: 10px;
    }
    .section-roadmap .container {
        width: 280px !important;
        border: 2px solid #FFFFFF;
    }
    .section-blog button {
        margin: 15px 0 0 85px;
        font-size: 11px;
    }
    .text {
        text-align: center;
        width: 250px;
    }
    .feb img {
        height: 10px;
    }
    .section-feedback .forma {
        width: 250px;
    }
    .forma .row .input-group span{
        display: none;
    }
    .section-feedback .zaiavka {
        padding: 0;
    }
    .forma .input-group input {
        border: 1.5px solid #F87932;
        border-radius: 5px;
    }
    .section-feedback .btn-type1 {
        margin: 15px 30px !important;
    }
}